/*Fuentes*/
@font-face{
    font-family: "TrebuchetMS";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format("embedded-opentype"), 
        url('fonts/websymbols-regular-webfont.woff') format("woff"), 
        url('fonts/websymbols-regular-webfont.ttf') format("truetype"),
        url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format("svg");
    font-weight: normal;
    font-style: normal;
}

/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    font-family: "TrebuchetMS";
}

body{background-image: url(../images/pattern.png);}

h1, h2, h3, h4, h5, h6 {font-family: "BebasNeue";}

/*Cabecera*/
#header{
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #2FDD92;
}

/*banner en la cabecera*/
#header #banner{
    display: flex;
    align-items: center;
    font-family: "BebasNeue";
    font-size: 50px;
    letter-spacing: 3px;
}

#header #banner img{
    height: 60px;
    width: auto;
}

/*menú principal en la capecera*/
#header #nav-principal{

}

#header #nav-principal ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#header #nav-principal ul li a{
    display: block;
    color: #2F86A6;
    text-decoration: none;
    transform: all 200ms;
    -webkit-transform: all 200ms;
    -moz-transform: all 200ms;
    -ms-transform: all 200ms;
    -o-transform: all 200ms;
}

#header #nav-principal ul li a:hover{
    color: #2F86A6;
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}